---
import Layout from '@/layouts/Layout.astro';
import TemporalTrendsClient from '@/components/TemporalTrendsClient';
---

<Layout title="Temporal Trends">
    <main class="container mx-auto py-3">
        <h1 class="text-3xl font-bold mb-6 text-center">Topics Temporal Trends</h1>
        <TemporalTrendsClient client:load />
    </main>
</Layout>
