---
import Layout from '../layouts/Layout.astro';
---

<Layout title="World Media Attention Map">
  <div class="container" id="world-map-root"></div>
</Layout>

<script>
  import React from 'react';
  import ReactDOM from 'react-dom/client';
  import WorldMapPage from '../components/WorldMapPage';

  const rootElement = document.getElementById('world-map-root');
  if (rootElement) {
    const root = ReactDOM.createRoot(rootElement);
    root.render(React.createElement(WorldMapPage));
  }
</script>