---
import Layout from "../layouts/Layout.astro";
import WorldMapPage from "./WorldMapPage";
---

<Layout title="World Map">
  <div class="max-w-7xl mx-auto">
    <WorldMapPage client:load />
  </div>
</Layout>